# This is a basic workflow to help you get started with Actions

name: TestJava

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
       # list contents or directory
      - name: List contents
        run: ls

      # Compiles classes to test in src
      - name: compile classes in src directory 
        working-directory: ./src/prog5121poetest
        run: javac -cp "../../testresources/junit-4.12.jar" Messages.java PROG5121POETEST.java Tasks.java Utility.java "../../test/prog5121poetest/PROG5121POETESTTest.java"  "../../test/prog5121poetest/MessagesTest.java"  "../../test/prog5121poetest/TasksTest.java"
        
        
       # list contents or directory
      - name: List contents of src directory after compile
        working-directory: ./src/prog5121poetest
        run: ls
        
         # copy compiled classes to test directory 
      - name : copy compiled classes to test directory 
        working-directory: ./src/prog5121poetest
        run: cp -t  "../../test/prog5121poetest/" Messages.class Tasks.class Utility.class  

        
      # list contents or directory
      - name: List contents test package
        working-directory: ./test/prog5121poetest
        run: ls
        
      #run tests and output report 
      - name: run tests and create report 
        working-directory: ./test
        run: java -cp ../testresources/junit-4.12.jar:../testresources/hamcrest-core-1.3.jar:. org.junit.runner.JUnitCore prog5121poetest.MessagesTest prog5121poetest.TasksTest


      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: /test/prog5121/poetest/test-results/**/*.xml
